.profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #f0f0f0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border: 2px solid #ccc;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button-change {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-change:hover {
    background-color: #0056b3;
}

/* CSS per la sezione di selezione delle immagini */
.image-selection {
    display: none;
    margin-top: 20px;
}

.image-selection .thumbnail {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 10px;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #ccc;
    transition: transform 0.3s;
}

.image-selection .thumbnail:hover {
    transform: scale(1.1);
}

.image-selection .thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.show-loghi{
    display: none !important;
}