/* Imposta il contenitore del login al centro della pagina */
.login-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 200px;
    margin-bottom: 200px;
    background-color: white;
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;  /* Disporre gli elementi in colonna */
    gap: 15px;  /* Distanza tra gli elementi */
}

label {
    font-size: 14px;
    font-weight: bold;
}

input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    font-size: 16px;
    background-color: #667867;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color:#41a1d0;;
}

.patrizio {
    text-align: center;
    font-size: 14px;
}

#errorMessage {
    font-size: 14px;
    text-align: center;
    color: red;
}

.img {
 display: none;
}

.logo{
    height: 5rem;
}
.navbar-toggler {
    border-color: rgba(191, 191, 191, 1); /* Bianco scurino /
    background-color: rgba(22, 24, 31, 1); / Usa lo stesso colore dello sfondo navbar */
  }
/* 
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(191, 191, 191, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  } */

.sfondo-login{
    background-image: url(../img/sfondi/sfondo-pixel-pokemon.jpg);
}

li,p{
    color: white;
}

footer a, footer h6, footer i, footer p {
    color: white;
}

.navbar{
    padding: 0;
}

.login-container a, .login-container p{
    color: black;
}

@media (min-width: 992px) {
    .search-bar {
        width: 50%;
    }
    ul{
        margin-right: 5rem;
    }
}


@media (max-width: 991px) {
    .search-bar {
        width: 100%;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 992px) {
    .img {
        display: block;
        position: absolute;
        z-index: -1;
        height: 25%;
        filter: drop-shadow(8px 8px 4px black);
    } 

    .gengar{
    left: 20%;
    top: 55%;
    transform: translateY(-60%);
        
    }

    .mimikyu{
        left: 5%;
        top: 19%;
    }

    .darkrai{
        right: 10%;
        top: 20%;
        width: 450px;
        height: 350px;
    }

    .pokeball {
        z-index: -1;
        position: absolute;
        top: 67%; /* Posizionata più in alto */
        left: 48%; /* Più a destra */
        transform: translate(-50%, -50%);
        width: 70%; /* Più larga */
        height: 130%; /* Più alta */
    }
    
    .login-container{
        width: 25%;
    }
  }

