.profile-image {
    width: 55px;
    height: 50px;
    border-radius: 50%;
    background-color: #f0f0f0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #ccc;
}

.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.show-loghi{
    display: none !important;
}

a{
text-decoration: none;
}

@media screen and (max-width: 800px){
    .nome-utente{
        display: none;
    }

    .dnone-carrello{
        display: none;
    }

    .profile-image{
        width: 74px;
        height: 70px;
    }

    .fa-cart-shopping{
        font-size: 3rem;
     
    }
}