.bottoni {
    position: sticky !important;
    top: 1.5rem;
    height: auto;
  }
  
  /* Aggiustamenti per il layout dei bottoni */
  .bottoni .card-body {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .bottoni .container-testo {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .card-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
  }
  
  /* Stili per i prodotti */
  .prodotti-container {
    margin: 0;
  }
  
  .product-card img{
   width: 100%; 
  }
  
  h3{
    font-size: 1.4rem;
  }

  .product-price{
    font-size: 1.5rem;
  }
  /* Media query per responsività */
  @media (max-width: 992px) {
    .bottoni {
      position: relative !important;
      top: 0;
      margin-bottom: 2rem;
    }
  }
.margine{
    max-width: 300px;
    margin-left: 5rem;
}
  
.form-control{
  margin-bottom: 2.7rem;
}