.reg-container {
    width: 350px;
    margin: 0 auto;
    padding: 30px;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: 'Arial', sans-serif;
}

h2 {
    color: #000000;
    font-size: 24px;
    margin-bottom: 20px;
}

.sfondo-reg{
    background-image: url(../img/sfondi/sfondo-pixel-pokemon.jpg);
}


input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    font-size: 14px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="date"]:focus {
    border-color: #ffffff;
    box-shadow: 0 0 5px rgba(255, 111, 97, 0.5);
    outline: none;
}

input[type="checkbox"] {
    margin-right: 8px;
}

a {
    color: #006aac;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

#registrazione-btn {
    background-color: #5663da;
    color: rgb(0, 0, 0);
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
}

#registrazione-btn:hover {
    background-color: #006aac;
}

#errorMessage {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

li,p{
    color: white;
}

footer a, footer h6, footer i, footer p {
    color: white;
}

.navbar{
    padding: 0;
}

.login-container a, .login-container p{
    color: black;
}


.logo{
    height: 5rem;
}

@media (min-width: 992px) {
    .search-bar {
        width: 50%;
    }
    ul{
        margin-right: 5rem;
    }
}


@media (max-width: 991px) {
    .search-bar {
        width: 100%;
        margin-bottom: 10px;
    }
}