/* ---------------------------------- body ---------------------------------- */

.background-base{
    background-position: center center;
    background-color: #ffff99;
    background-image: url("../img/sfondi/sfondo-pokemon.png");
    background-attachment: fixed;
    background-size: cover;
}

#main-header{
    background-position: center center;
    background-color: #ffff99;
    background-image: url("../img/sfondi/1000_F_526978622_dayjHFDSjD1r7SiplcnxzTaUOjDlnuIp.jpg");
    background-attachment: fixed;
    background-size: cover;
    
}

.background-pokemon{
    background-position: center center;
    background-color: #ffff99;
    background-image: url("../img/sfondi/sfondo-pokemon.png"); 
    background-attachment: fixed;
    background-size: cover;
} 
.background-yugi{
    background-position: center center;
    background-color: #ffff99;
    background-image: url("../img/sfondi/sfondo-yugi-mobile.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-size: cover;
}
.background-magic{
    background-position: center center;
    background-color: #ffff99;
    background-image: url("../img/sfondi/");
    background-size: contain;
    background-repeat: repeat;
    background-size: cover;

}

.video-container {
    z-index: -100;
    width:100%;
    height:75%;
    overflow:hidden;
    position:absolute;
    top:0;
    left:0;
    }
/* ----------------------NAV BAR-------------------------------- */
.navbar-toggler-icon {
font-size: 2rem;
}

.navbar-nav {
display: flex;
justify-content: space-between;
position: relative;
}

.navbar {
    width: 100%;
background: #eedede ;
padding: 0;
}

.navbar-toggler-icon {
    background-size: auto;
    width: 100%;
font-size: 32px;
}

.user-icon {
width: 1.8rem;
height: 1.8rem;
border: 2px solid black;
border-radius: 50%;
align-items: center;
justify-content: center;
display: flex;
}

.logo {
    height: 10rem;
}

.navbar-toggler {
    background-color: #ffffff7d;
}

.fa-user {
    height: 70%;
    width: auto;
}

.offcanvas-body {
    justify-content: space-between;
}

.animazioni{
    width: 80%;
    margin: auto;
    animation-duration: 2s;
    display: block;
    text-align: center;
}


/* --------------------------- icone switch stile --------------------------- */

.container-icone-switch{
    justify-content: space-between;

}

.logo-icon-pokeball, .logo-icon-magic {
    height: 62px;
    width: 60px;
    filter: drop-shadow(8px 8px 4px black);
}

.logo-icon-pokeball:hover{
    transform: scale(1.25);
    filter: brightness(1.1);
}

.logo-icon-magic:hover, .logo-icon-pokeball:hover, .logo-icon-puzzle:hover{
    transform: scale(1.25);
    filter: brightness(1.1);
    filter: drop-shadow(8px 8px 4px black);
}

.logo-icon-puzzle {
    height: 72px;
    width: 70px;
    filter: drop-shadow(8px 8px 4px black);
}

button{
    border: none;
    background: none;
} 


/* ----------------------------footer---------------------------------------------- */
#main-footer {
background: #444;
color: #e72929;
}

.card{
    margin-bottom: 40px;
}
.accordion-button{
    padding: .5rem;
    
}
/* ----------------------------font pokemon---------------------------------------------- */

.pokemon-font{
width: 50%;
display: flex;
}

/* ----------------------------media query---------------------------------------------- */
@media screen and (min-width: 1024px){
    .logo-icon-magic, .logo-icon-pokeball, .logo-icon-puzzle{
        width: 14rem;
        height: 7rem;
    }

    .logo{
        height: 5rem;
    }

    .animazioni{
        width: 40%;
    }

}



