<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="css/style.css" />
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
</head>

<body>
  <div class="alto">
    <div class="rosso">
      <div class="containerAlto">
        <h1>NOME SITO</h1>
        <h4>Chi siamo?</h4>
      </div>
    </div>
  </div>

  <div class="imgWrapper">
    <!-- Immagine in basso -->
    <div class="imgBasso">
      <img src="img/wallpaper.jpg" alt="Descrizione immagine" />
    </div>

    <!-- Swiper sopra l'immagine a destra -->
    <div class="swiper-container-wrapper">
      <swiper-container class="mySwiper" effect="cards" grab-cursor="true">
        <swiper-slide>Slide 1</swiper-slide>
        <swiper-slide>Slide 2</swiper-slide>
        <swiper-slide>Slide 3</swiper-slide>
        <swiper-slide>Slide 4</swiper-slide>
        <swiper-slide>Slide 5</swiper-slide>
      </swiper-container>
    </div>

    <!-- Immagine in alto -->
    <div class="imgAlto">
      <img src="img/sotto.png" alt="Descrizione immagine" />
    </div>
  </div>

  <div class="basso"></div>
</body>

</html>