<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Creazione bustina</title>
    <link rel="stylesheet" href="css/formCreazione.css">
    <link rel="stylesheet" href="css/style.css">
      <!-- bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- fontawesome -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">

</head>
<body style="background-color: rgb(0, 0, 0);">


  <nav class="navbar navbar-expand-lg navina" style="background-color: rgb(106, 9, 6);">
    <div class="container-fluid">
        <!-- Logo -->
        <a class="navbar-brand" href="#">
            <img class="logo" src="../static/img/LOGO.png" alt="">
        </a>

        <!-- Menu hamburger -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" ></span>
        </button>


            <!-- Menu -->
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0 order-1 order-lg-2 mt-3">
                <li class="nav-item text-center mx-1">
                    <i class="fas fa-home fa-2x" style="color: antiquewhite;"></i>
                    <a class="nav-link active" aria-current="page" href="#"><p style="margin-bottom: 0;">Home</p></a>
               </li>
                <li class="nav-item text-center mx-1">
                    <i class="fas fa-dragon mb-2 fa-2x" style="color: antiquewhite;"></i>
                    <a class="nav-link active" href="#"><p style="margin-bottom: 0;">Negozio Pokémon</p></a>
                </li>
                <li class="nav-item text-center mx-1">
                    <i class="fas fa-scroll fa-2x" style="color: antiquewhite;"></i>
                    <a class="nav-link active" href="#"><p style="margin-bottom: 0;">Negozio Yu-Gi-Oh</p></a>
                </li>
                
                <li class="nav-item text-center mx-1">
                    <i class="fa-solid fa-user fa-2x" style="color: antiquewhite;"></i>
                    <a class="nav-link active" href="#"><p style="margin-bottom: 0;">Profilo</p></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
        <!-- fine navbar -->


<h1 style="display: flex; justify-content: center; align-items: center; margin-top: 10px; color: white;">Creazione Nuova Bustina</h1>
    
  <form id="bustinaForm" style="margin-bottom: 50px; background-image: url(../static/img/carteSfondo/1576f123b92ab80ccbfe386a4c3f16fc.jpg);">
    <label for="nome">Nome</label>
    <input type="text" id="nome" name="nome" required>

    <label for="descrizione">Descrizione</label>
    <textarea id="descrizione" name="descrizione" rows="4" required></textarea>

    <label for="tipo">Tipo</label>
    <select id="tipo" name="tipo" required>
      <option value="DEFAULT">Default</option>
      <option value="EDIZIONE_LIMITATA">Edizione Limitata</option>
    </select>

    <label for="brand">Brand</label>
    <select id="brand" name="brand" required>
      <option value="POKEMON">Pokemon</option>
      <option value="MAGIC">Magic</option>
      <option value="YUGIHO">YugiHo</option>
    </select>

    <label for="prezzo">Prezzo (€)</label>
    <input type="number" id="prezzo" name="prezzo" step="1" required>

    <label for="prezzo">numero-carte</label>
    <input type="number" id="numero-carte" name="numero-carte" step="1" required>

    <label for="rimanenze">Rimanenze</label>
    <input type="number" id="rimanenze" name="rimanenze" required>

    <label for="disponibilita">Disponibilità Immediata</label>
    <select id="disponibilita" name="disponibilita" required>
      <option value="true">Sì</option>
      <option value="false">No</option>
    </select>

    <div id="dataInizioWrapper" class="hidden">
      <label for="data_inizio">Data di Inizio</label>
      <input type="date" id="data_inizio" name="data_inizio">
    </div>

    <label for="edizione">Edizione</label>
    <input type="text" id="edizione" name="edizione" placeholder="Es. Edizione Limitata">
    
    <label for="nomeSet">Nome Set</label>
    <input type="text" id="nomeSet" name="nomeSet" placeholder="Nome del Set">

    <label for="immagine">Carica Immagine</label>
    <input type="file" id="immagine" name="immagine" accept="image/*" required><br><br>

    <button type="submit">Crea Bustina</button>
  </form>

  <div id="loginStatus"></div>





 <!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-3 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset" style="text-decoration: none;">
        <i class="fa-brands fa-facebook fa-2x"></i>
      </a>
      <a href="" class="me-4 text-reset" style="text-decoration: none;">
        <i class="fa-brands fa-x-twitter fa-2x"></i>
      </a>
      <a href="" class="me-4 text-reset" style="text-decoration: none;">
        <i class="fa-brands fa-youtube fa-2x"></i>
      </a>
      <a href="" class="me-4 text-reset" >
        <i class="fab fa-instagram fa-2x"></i>
      </a>
    </div>
    <!-- Right -->
  </section>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="">
    <div class="container text-center text-md-start mt-1">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
       <div class="mx-auto mb-3" style="font-size:24px;">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            
          </h6>
          <p>
            Hai domande? Visita la nostra FAQ o contattaci per ricevere assistenza. Il tuo punto di riferimento per
            carte collezionabili, dai classici alle novità!
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="accordion"  id="accordionExample">
          <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                      aria-expanded="false" aria-controls="collapseOne">
                      PRODOTTI
                  </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                  <p>
                                    <a href="#!" class="text-reset" style="text-decoration: none;">Carte singole</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-reset" style="text-decoration: none;">Box</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-reset" style="text-decoration: none;">Accessori</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-reset" style="text-decoration: none;">Merchandising</a>
                                </p>
                  </div>
              </div>
          </div>
          <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      LINK UTILI
                  </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <p>
                                    <a href="#!" class="text-reset"style="text-decoration: none;">FAQ</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-reset"style="text-decoration: none;">Termini e condizioni</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-reset"style="text-decoration: none;">Privacy e sicurezza</a>
                                </p>
                                <p>
                                    <a href="#!" class="text-reset"style="text-decoration: none;">Assistenza</a>
                                </p>
                  </div>
              </div>
          </div>
          <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      CONTATTI
                  </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                      <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
                      <p>
                          <i class="fas fa-envelope me-3"></i>
                          SBOOST!@example.com
                      </p>
                      <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                      <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
                  </div>
              </div>
          </div>
      </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="https://www.youtube.com/shorts/pSq2Jgl430s">jaita131</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="controlloAdminLoggato.js"></script>
    <script src="CreazioneBustinaScript.js"></script>
    
</body>
</html>