<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/negizi.css">
</head>
<body>

    <header>
        <h1>Yugiho Store</h1>
    </header>

    <section id="card" class="carousel-section">
        <h2>Card</h2>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper" id="card-container">
            </div>
            <div class="swiper-button-next"></div>
		    <div class="swiper-button-prev"></div>
        </div>
    </section>
    
    <section id="bustine" class="carousel-section">
        <h2>Bustine</h2>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper" id="bustine-container">
            </div>
            <div class="swiper-button-next"></div>
		    <div class="swiper-button-prev"></div>
        </div>
    </section>
    
    <section id="box" class="carousel-section">
        <h2>Box</h2>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper" id="box-container">
            </div>
            <div class="swiper-button-next"></div>
		    <div class="swiper-button-prev"></div>
        </div>
    </section>
    
    <section id="accessori" class="carousel-section">
        <h2>Accessori</h2>
        <div class="swiper mySwiper">
            <div class="swiper-wrapper" id="accessori-container">
            </div>
            <div class="swiper-button-next"></div>
		    <div class="swiper-button-prev"></div>
        </div>
    </section>
    

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="swiperNegozio.js"></script>
    <script src="controlloUtenteLoggato.js"></script>
    <script src="crezioneCarosello.js"></script>
    <script src="negozioYuGiHoScript.js"></script>
    <script src="scriptIserisciItem.js"></script>

</body>
</html>