<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="css/ordiniStyle.css">
    <link rel="stylesheet" href="css/immagineStyle.css">
    <link rel="stylesheet" href="css/negozio-pokemon.css">
</head>

<body style="background-color: white;">

    <nav class="navbar navbar-expand-lg navina" style="background-color:#304492;">
        <div class="container-fluid">
            <!-- Logo -->
            <a class="navbar-brand" href="/">
                <img class="logo" src=" img/LOGO.png" alt="">
            </a>

            <!-- Menu hamburger -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Barra di ricerca -->
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <form class="d-flex mx-auto order-2 order-lg-1 search-bar" role="search">
                    <input class="form-control me-2 " type="search" placeholder="Search" aria-label="Search">
                </form>

                <!-- Menu -->
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 order-1 order-lg-2 mt-3">
                    <li class="nav-item text-center mx-1">
                        <i class="fas fa-home fa-2x"></i>
                        <a class="nav-link active" aria-current="page" href="/">
                            <p>Home</p>
                        </a>
                    </li>
                    <li class="nav-item text-center mx-1">
                        <i class="fas fa-scroll fa-2x"></i>
                        <a class="nav-link active" href="/negozio-yugioh">
                            <p>Negozio Yu-Gi-Oh</p>
                        </a>
                    </li>
                    <li class="nav-item text-center mx-1">
                        <i class="fas fa-hat-wizard fa-2x"></i>
                        <a class="nav-link active" href="/negozio-magic">
                            <p>Negozio Magic</p>
                        </a>
                    </li>

                    <li class="nav-item text-center mx-1">
                        <i class="fas fa-dragon mb-2 fa-2x"></i>
                        <a class="nav-link active" href="negozio-pokemon">
                            <p>Negozio<br>Pokémon</p>
                        </a>
                    </li>

                    <li class="nav-item text-center mx-1">
                        <i class="fa-solid fa-user fa-2x"></i>
                        <a class="nav-link active" href="/utente">
                            <p>Profilo</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- fine navbar -->

    <div class="container mt-5">
        <h1 class="text-center">Benvenuto, Utente</h1>


        <div class="container">
            <div class="profile-container">
                <!-- Contenitore per l'immagine del profilo -->
                <div class="profile-image" id="profile-image">
                    <!-- Immagine di default se non c'è nessuna immagine associata -->
                    <img src="https://www.w3schools.com/w3images/avatar2.png" alt="Immagine Profilo" id="profile-img">
                </div>

                <!-- Bottone per cambiare l'immagine -->
                <button class="button-change" id="change-image-btn">Cambia Immagine</button>

                <!-- Sezione di selezione delle immagini -->
                <div class="image-selection" id="image-selection">
                    <div class="thumbnail" data-img="ImmagineProfilo1.jpg" onclick="selectImage(this)">
                        <img src="img/profilo/ImmagineProfilo1.jpg" alt="Immagine 1">
                    </div>
                    <div class="thumbnail" data-img="ImmagineProfilo2.jpg" onclick="selectImage(this)">
                        <img src="img/profilo/ImmagineProfilo2.jpg" alt="Immagine 2">
                    </div>
                    <div class="thumbnail" data-img="ImmagineProfilo3.jpg" onclick="selectImage(this)">
                        <img src="img/profilo/ImmagineProfilo3.jpg" alt="Immagine 3">
                    </div>
                    <div class="thumbnail" data-img="ImmagineProfilo4.jpg" onclick="selectImage(this)">
                        <img src="img/profilo/ImmagineProfilo4.jpg" alt="Immagine 4">
                    </div>
                    <div class="thumbnail" data-img="ImmagineProfilo5.jpg" onclick="selectImage(this)">
                        <img src="img/profilo/ImmagineProfilo5.jpg" alt="Immagine 5">
                    </div>
                    <div class="thumbnail" data-img="ImmagineProfilo6.jpg" onclick="selectImage(this)">
                        <img src="img/profilo/ImmagineProfilo6.jpg" alt="Immagine 6">
                    </div>
                </div>
            </div>
        </div>

        <!-- Buttons Section -->
        <div class="d-flex justify-content-center align-items-center flex-column gap-2 my-5">
            <div class="row gap-2">
                <div class="card card-button shadow col-4" id="btn-miei-ordini" style="max-width: 13rem; width: 13rem;">
                    <span class="icon text-primary">
                        <i class="bi bi-box"></i>
                    </span>
                    <div>
                        <h5>I miei Ordini</h5>
                        <p class="text-muted">Tutti i prodotti acquistati</p>
                    </div>
                </div>
                <div class="card card-button shadow col-4" id="btn-ordini-in-arrivo" style="max-width: 13rem; width: 13rem;">
                    <span class="icon text-warning">
                        <i class="bi bi-truck"></i>
                    </span>
                    <div>
                        <h5>Ordini in Arrivo</h5>
                        <p class="text-muted">Ordini che stanno per arrivare</p>
                    </div>
                </div>
            </div>
            
            <div class="row">
                <div class="card card-button shadow col-12 click-diventa-admin" id="btn-ordini-in-arrivo" style="max-width: 26rem; width: 26rem;">
                    <span class="icon text-warning">
                        <i class="bi bi-truck"></i>
                    </span>
                    <div>
                        <h5>Diventa Admin</h5>
                        <p class="text-muted">BISOGNA INSERIRE DEL TESTO</p>
                    </div>
                </div>
            </div>

            <div class="row sign-out">
              <div class="card card-button shadow col-12 click-diventa-admin" id="btn-ordini-in-arrivo" style="max-width: 26rem; width: 26rem; background-color: rgb(249, 68, 68);">
                  <span class="icon text-warning">
                      <i class="bi bi-truck"></i>
                  </span>
                  <div>
                      <h5>Sign-out</h5>
                  </div>
              </div>
          </div>
        </div>

        <!-- Ordini Consegnati Section -->
        <div id="miei-ordini-section" class="order-section d-none">
            <h2 class="section-title">I miei Ordini</h2>
            <div id="miei-ordini-container"></div>
        </div>

        <!-- Ordini in Arrivo Section -->
        <div id="ordini-in-arrivo-section" class="order-section d-none">
            <h2 class="section-title">Ordini in Arrivo</h2>
            <div id="ordini-in-arrivo-container"></div>
        </div>
    </div>

    <!-- Diventa Admin -->
    <div class="container col-md-8 blocco-accettazione flex-column" style="display: none;">
        <div class="container col-md-8" clastyle="text-align: center ;">
            <h2><strong>Diventa un Amministratore SBoost!</strong></h2>
            <br>
            <p style="color: midnightblue;">Assumere il ruolo di amministratore è una grande responsabilità, che richiede il rispetto delle nostre politiche aziendali e il pieno impegno nel garantire la sicurezza e il benessere della comunità. Accettando le nostre politiche, avrai accesso a strumenti avanzati per gestire utenti, contenuti e funzionalità della piattaforma. <p>
                
            <p style="color: midnightblue;"> Per candidarti, spunta la casella qui sotto per accettare le politiche aziendali e clicca su "Diventa Partner". Una volta completato, il nostro team esaminerà la tua richiesta e ti contatterà per ulteriori dettagli.</p>
        </div>

        <div class="container my-5">
            <div class="row">
                <form id="promoteForm">
                    <label for="acceptPolicies">
                        <input type="checkbox" id="acceptPolicies" name="acceptPolicies" required>
                        Accetto le <a href="/politiche-aziendali" target="_blank" style="color: #304492;">politiche aziendali</a>.
                    </label><br>
                
                    <button type="submit">Diventa Partner</button>
                </form>
            </div>
        </div>
    </div>

    <!-- Footer -->
  <footer class="text-center text-lg-start bg-body-tertiary text-muted" style="background-color: #132E32 !important;">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-3 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
      </div>
      <!-- Left -->

      <!-- Right -->
      <div style="color: antiquewhite;">
        <a href="" class="me-4 text-reset" style="text-decoration: none;">
          <i class="fa-brands fa-facebook fa-2x"></i>
        </a>
        <a href="" class="me-4 text-reset" style="text-decoration: none;">
          <i class="fa-brands fa-x-twitter fa-2x"></i>
        </a>
        <a href="" class="me-4 text-reset" style="text-decoration: none;">
          <i class="fa-brands fa-youtube fa-2x"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram fa-2x"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-1">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="mx-auto mb-3" style="font-size:24px;color: antiquewhite;">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">

            </h6>
            <p>
              Hai domande? Visita la nostra FAQ o contattaci per ricevere assistenza. Il tuo punto di riferimento per
              carte collezionabili, dai classici alle novità!
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="accordion" id="accordionExample">
            <div class="accordion-item" style="background-color: #8c9a9c !important;">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"
                  style="background-color: #132E32 !important;color: antiquewhite;">
                  PRODOTTI
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body" style="color: antiquewhite;">
                  <p>
                    <a href="#!" class="text-reset" style="text-decoration: none;">Negozio Pokémon</a>
                  </p>
                  <p>
                    <a href="#!" class="text-reset" style="text-decoration: none;">Negozio Yu-Gi-Oh!</a>
                  </p>
                  <p>
                    <a href="#!" class="text-reset" style="text-decoration: none;">Negozio Magic</a>
                  </p>
                  <p>
                    <a href="#!" class="text-reset" style="text-decoration: none;">Merchandising</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"
                  style="background-color: #132E32 !important;color: antiquewhite;">
                  LINK UTILI
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body" style="background-color: #132E32 !important; color: antiquewhite;">
                  <p>
                    <a href="#!" class="text-reset" style="text-decoration: none;">FAQ</a>
                  </p>
                  <p>
                    <a href="#!" class="text-reset" style="text-decoration: none;">Termini e condizioni</a>
                  </p>
                  <p>
                    <a href="#!" class="text-reset" style="text-decoration: none;">Privacy e sicurezza</a>
                  </p>
                  <p>
                    <a href="#!" class="text-reset" style="text-decoration: none;">Assistenza</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"
                  style="background-color: #132E32 !important; color: antiquewhite;">
                  CONTATTI
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body" style="background-color: #404e50 !important; color: antiquewhite;">
                  <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
                  <p>
                    <i class="fas fa-envelope me-3"></i>
                    Sboost@example.com
                  </p>
                  <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
                  <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
                </div>
              </div>
            </div>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="https://www.youtube.com/shorts/pSq2Jgl430s">jaita131</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="controlloUtenteLoggato.js"></script>
    <script src="immagineScript.js"></script>
    <script src="ordiniScripr.js"></script>
    <script src="scriptDiventaAdmin.js"></script>

    <script src="controlloUtenteLoggato.js"></script>
    <script src="PromozioneScript.js"></script>
</body>

</html>